# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos/
.pub-cache/
.pub/
build/
*.lock

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws
.gradle/
local.properties

# VS Code
.vscode/

# macOS/iOS/Xcode
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
macos/Flutter/Flutter.framework
macos/Flutter/App.framework
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/.symlinks/
macos/.generated/

DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcuserdatad/

# Android
android/.gradle/
android/captures/
android/local.properties
android/.idea/
android/*.iml
android/.externalNativeBuild/
android/.cxx/

# Fastlane (if used for CI/CD)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
.DS_Store
*.log
*.tmp
*.swp
*.swo

# Flutter Web (if you build for web)
web/.dart_tool/
web/build/

# Windows/Linux (if targeting desktop)
windows/Flutter/
linux/Flutter/
